@page "/{id:int?}"
@model Tibulca_Bogdan_Proiect.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].MovieDirector.MovieDirectorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].MovieCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].PersonalReview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MovieD.Movies) {
    string selectedRow = "";
    if(item.ID == Model.MovieID)
    {
        selectedRow = "table-success";
    }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDirector.MovieDirectorName)
            </td>
            <td>
                @{ 
                    foreach(var category in item.MovieCategories)
                {
                    @category.Category.CategoryName <br />
                }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalReview)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
